<div>
  <!--img class="Kostyl" src="../public/images/MainPlashtext.png" alt="Kostyl" /-->
  <div class="indexTextWrapper">
      <p><span class="slideToTheRight">There</span></p>
      <p><span class="slideToTheLeft">Is</span></p>
      <p><span class="slideToTheRight">Nothing</span></p>
      <p><span class="slideToTheLeft">Here</span></p>
      <div class="kostyl">
      <p><span class="kostyl">You can do one of these tho:</span></p>
      </div>
  </div>
  <div class="indexButtonWrapper">
    <button type="button" onclick="window.location.href='/auth/signin'">Sign In</button>
    <button type="button" onclick="window.location.href='/auth/signup'">Sign Up</button>
  </div>
</div>